section.clients-types
	.clients-type
		.clients-type-front
			.clients-type-front__icon 
				img(src="images/main/clients-types/icon-1.svg", alt="")
			.clients-type-front__name Собственнику
		.clients-type-hidden
			.clients-type-hidden__top 
				a.clients-type-hidden__top-name(href="") Собственнику
				img.clients-type-hidden__top-bg(src="images/main/clients-types/back.jpg", alt="")
			.clients-type-hidden__bottom 
				a.clients-type-hidden__btn(href="") Сдать
				a.clients-type-hidden__btn.clients-type-hidden__btn--light(href="") Продать
	.clients-type
		.clients-type-front
			.clients-type-front__icon 
				img(src="images/main/clients-types/icon-2.svg", alt="")
			.clients-type-front__name Арендатору
		.clients-type-hidden
			.clients-type-hidden__top 
				a.clients-type-hidden__top-name(href="") Арендатору
				img.clients-type-hidden__top-bg(src="images/main/clients-types/back.jpg", alt="")
			.clients-type-hidden__bottom 
				a.clients-type-hidden__btn(href="") Снять
				a.clients-type-hidden__btn.clients-type-hidden__btn--light(href="") Сдать
	.clients-type
		.clients-type-front
			.clients-type-front__icon 
				img(src="images/main/clients-types/icon-3.svg", alt="")
			.clients-type-front__name Инвестору
		.clients-type-hidden
			.clients-type-hidden__top 
				a.clients-type-hidden__top-name(href="") Инвестору
				img.clients-type-hidden__top-bg(src="images/main/clients-types/back.jpg", alt="")
			.clients-type-hidden__bottom 
				a.clients-type-hidden__btn(href="") Купить
				a.clients-type-hidden__btn.clients-type-hidden__btn--light(href="") Купить с партнерами