section.clients-types
	.clients-type
		.clients-type-front
			.clients-type-front__icon 
				img(src="images/main/clients-types/icon-1.svg", alt="")
			.clients-type-front__name Собственнику
		.clients-type-hidden
			.clients-type-hidden__top 
				.clients-type-hidden__top-name Собственнику
				img.clients-type-hidden__top-bg(src="images/main/clients-types/back.jpg", alt="")
			.clients-type-hidden__bottom 
				.clients-type-hidden__btn Сдать
				.clients-type-hidden__btn.clients-type-hidden__btn--light Продать
	.clients-type
		.clients-type-front
			.clients-type-front__icon 
				img(src="images/main/clients-types/icon-2.svg", alt="")
			.clients-type-front__name Арендатору
		.clients-type-hidden
			.clients-type-hidden__top 
				.clients-type-hidden__top-name Арендатору
				img.clients-type-hidden__top-bg(src="images/main/clients-types/back.jpg", alt="")
			.clients-type-hidden__bottom 
				.clients-type-hidden__btn Снять
				.clients-type-hidden__btn.clients-type-hidden__btn--light Сдать
	.clients-type
		.clients-type-front
			.clients-type-front__icon 
				img(src="images/main/clients-types/icon-3.svg", alt="")
			.clients-type-front__name Инвестору
		.clients-type-hidden
			.clients-type-hidden__top 
				.clients-type-hidden__top-name Инвестору
				img.clients-type-hidden__top-bg(src="images/main/clients-types/back.jpg", alt="")
			.clients-type-hidden__bottom 
				.clients-type-hidden__btn Купить
				.clients-type-hidden__btn.clients-type-hidden__btn--light Купить с партнерами