footer.site-footer
	.container
		.site-footer-top
			.site-footer-top__item
				a.footer-top-logo(href="/")
					img(src="images/footer/sf-logo.svg", alt="")
				a.footer-login Войти
			.site-footer-top__item
				a.num-item.site-footer-top__item-link(href="tel:+74996850305") 8 (499) 685-03-05
				a.num-item.site-footer-top__item-link(href="tel:+78126464701") 8 (812) 64-64-701
				a.site-footer-top__item-link(href="mailto: info@geometry-invest.ru") info@geometry-invest.ru
				a.call-back-link.call-back-link--white.call-back-link--mb.site-footer-top__item-link(href="#ex1") Перезвоните мне

			.site-footer-top__item
				a.site-footer-top__item-link(href="") Услуги
				a.site-footer-top__item-link(href="") Каталог объектов
				a.site-footer-top__item-link(href="") О компании
				a.site-footer-top__item-link(href="") Контакты


			.site-footer-top__item
				.site-footer-top__item-link.site-footer-top__item-link--news Новостная рассылка
				.form-field.form-field--sf
					input.form-field__input.form-field__input--sf(placeholder="E-mail", type="email")
					button.form-field__button
						.form-field__button-icon 
							img(src="images/footer/button-icon.svg", alt="")

				ul.social.socials-footer
					li.social__item.social__item--green
						a.social__item-link
							img(src="images/header/bot/social/whatsapp.svg", alt="")
					li.social__item.social__item--blue
						a.social__item-link
							img(src="images/header/bot/social/telegram.svg", alt="")
					li.social__item.social__item--viol
						a.social__item-link 
							img(src="images/header/bot/social/viber.svg", alt="")
		.site-footer-bot
			.site-footer-bot__copyright.copyright © 2022 Геометрия
			.site-footer-bot__right
				a.site-footer-bot__right-link Политика конфиденциальности
				
				


			
