
.sh-burger {
	position: relative;
	display: none;
	z-index: 105;
	width: 24px;
	height: 14px;
	cursor: pointer;
	transition-duration: .2s;

	span,
	span::before,
	span::after {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 24px;
		height: 2px;
		margin-top: -1px;
		margin-left: -12px;
		background-color: #292929;
	}

	span::before,
	span::after {
		content: '';
		transition: 0.2s;
	}

	span::before {
		transform: translateY(-6px);
	}

	span::after {
		transform: translateY(6px);
	}

	&--active {
		

		span {
			height: 0px;

			&::before {
				transform: rotate(45deg);
				background: #292929;
			}

			&::after {
				transform: rotate(-45deg);
				background: #292929;
			}
		}
	}
}

.header-top{
	padding-top: 8px;
	padding-bottom: 6px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #EAE9E9;
	&-logo{
		cursor: pointer;
		img{
			display: block;
			max-width: 100%;
		}
		
	}
	&-right{
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__item{
			margin-left: 49px;
		}
	}
}

.num{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	&__item{
		display: block;
		cursor: pointer;
		margin-bottom: 2px;
	}
}


.header-bottom{
	padding-top: 12px;
	padding-bottom: 13px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu{
	&__list{
		display: flex;
		align-items: center;
		justify-content: space-between;
		&-link{
			display: block;
			margin-right: 50px;
			cursor: pointer;
			transition-duration: .3s;
			&:hover{
				color: #306fc7;
			}

		}
	}
}

.social{
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	margin-left: -8px;
	&__item{
		margin-left: 8px;
		cursor: pointer;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		
		display: flex;
		align-items: center;
		justify-content: center;
		&--green{
			background-color: #0DC143;
		}
		&--blue{
			background-color: #419FD9;
		}
		&--viol{
			background-color: #675DA9;
		}
		&-link{
			
			img{
				object-fit: contain;
				object-position: center center;
				
			}
		}
	}
}
.header-top-right__item--mob{
	display: none;
}
.header-top-right__item--mob2{
	display: none;
}
@media screen and (max-width:950px){
	body{
		padding-top: 72px;
	}
	.sh-burger{
		display: block;
		margin-left: 21px;
	}
	.site-header{
		z-index: 99;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		background: #ffffff;
	}
	.header{
		&-bottom{
			display: none;
		}
		&-top{
			border-bottom: none;
		}
	}
	.header-top-right__item{
		display: none;
	}
	.button.login--mob{
		border: none;
		padding: 0;
		margin-left: 0;
		border-bottom: 1px dashed #292929;
		border-radius: 0;
		font-size: 14px;
		&.button:hover {
			background: none;
			color: #000;
		}
	}
	.header-bottom {
		position: absolute;
		z-index: 90;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		height: 100vh;
		height: calc(var(--vh, 1vh) * 100);
		padding: 49px 0 30px;
		transition-duration: .4s;
		pointer-events: none;
		opacity: 0;
		background-color: #fff;
		overflow: auto;
		overflow-x: hidden;

		&--visible {
			pointer-events: all;
			opacity: 1;
		}
	}
	.menu{
		padding: 0 15px;
		&__list{
			flex-direction: column;
			flex-wrap: wrap;
			align-items: center;
			&-link{
				margin-right: 0;
				
				font-size: 20px;
				margin-top: 30px;
				&:first-child{
					margin-top: 0px;
				}
			}
		}
	}
	.social-menu--mob{
		justify-content: center;
		margin-top: 30px;
		margin-left: 0px;
	}
	.header-top-right__item--mob{
		display: block;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-left: 0;
		
	}
	.num__item{
		margin-top: 30px;
		margin-bottom: 0;
		font-size: 16px;
	}
	.header-top-right__item--mob2{
		margin-left: 0;
		display: flex;
		justify-content: center;
		margin-top: 30px;
		.call-back-link{
			font-size: 16px;
		}
	}
}