@media screen and (max-width: 1000px){
    .section-title{
        font-size: 29px;
    }
}

@media screen and (max-width: 575px){
    .social__item {
        height: 28px;
        width: 28px;
    }
}
